.vl {
  border-left: 2px solid #6b6363;
  height: 70px;
}

.video_button {
    border: 3px solid #000000 ;
}
body{
    font-size: 1.2rem !important; 
}
.modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}.modal.open {
   display: block;
}
.modal__header,
.modal__footer {
    height: 100px;
}.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}.modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}.modal__footer {
    bottom: 0;
}
.css-button {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display:flex;
    box-shadow: 5px 5px 5px grey;
}
.css-button-inner{
    background: black;
    border-radius: 50%;
    border: 1px solid white;
    width: 75%;
    height: 75%;
    margin: auto;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.button-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}